"go": "<div style=\"margin-left:1em\"><i><b>идти</b></i></div>\n<div style=\"margin-left:1em\">
    <font color=\"green\">глагол:</font>
</div>\n<div style=\"margin-left:2em\"><b>идти </b><i>(go, walk, move, follow, run, be on)</i></div>\n<div
    style=\"margin-left:2em\"><b>ехать </b><i>(go, ride, drive, travel, fare)</i></div>\n<div style=\"margin-left:2em\">
    <b>ходить </b><i>(walk, go, attend, run, play, lead)</i>
</div>\n<div style=\"margin-left:2em\"><b>переходить
    </b><i>(go, proceed, pass, turn, transfer, jump)</i></div>\n<div style=\"margin-left:2em\"><b>ездить </b><i>(ride,
        drive, go, travel, kick around)</i></div>\n<div style=\"margin-left:2em\"><b>уходить </b><i>(go, leave, go away,
        walk away, get out, go off)</i></div>\n<div style=\"margin-left:2em\"><b>проходить </b><i>(pass, penetrate, go,
        run, cover, go by)</i></div>\n<div style=\"margin-left:2em\"><b>съездить </b><i>(go, take a trip, visit, run
        over, skip, run across)</i></div>\n<div style=\"margin-left:2em\"><b>отправляться </b><i>(go, set off, depart,
        set out, set forth, sashay)</i></div>\n<div style=\"margin-left:2em\"><b>путешествовать </b><i>(travel, go,
        journey, hike, voyage, peregrinate)</i></div>\n<div style=\"margin-left:2em\"><b>уезжать </b><i>(leave, go,
        depart, move away, go off, move off)</i></div>\n<div style=\"margin-left:2em\"><b>говорить </b><i>(say, speak,
        tell, talk, refer, go)</i></div>\n<div style=\"margin-left:2em\"><b>работать </b><i>(work, operate, run,
        function, act, go)</i></div>\n<div style=\"margin-left:2em\"><b>направляться </b><i>(head, go, tend, make, make
        for, strike)</i></div>\n<div style=\"margin-left:2em\"><b>вести </b><i>(lead, conduct, keep, guide, drive,
        go)</i></div>\n<div style=\"margin-left:2em\"><b>становиться </b><i>(become, get, grow, turn, go, come)</i>
</div>\n<div style=\"margin-left:2em\"><b>передвигаться </b><i>(move, travel, shift, go, run, get about)</i></div>\n<div
    style=\"margin-left:2em\"><b>исчезать </b><i>(disappear, vanish, pass away, go, lose, die)</i></div>\n<div
    style=\"margin-left:2em\"><b>тянуться </b><i>(stretch, extend, drag on, go, reach out, continue)</i></div>\n<div
    style=\"margin-left:2em\"><b>проезжать </b><i>(pass, pass by, go, get by, do)</i></div>\n<div
    style=\"margin-left:2em\"><b>пропадать </b><i>(disappear, vanish, go)</i></div>\n<div style=\"margin-left:2em\">
    <b>простираться </b><i>(extend, stretch, spread, range, reach, go)</i>
</div>\n<div style=\"margin-left:2em\">
    <b>умирать </b><i>(die, perish, go, be dying, expire, pass)</i>
</div>\n<div style=\"margin-left:2em\">
    <b>обанкротиться </b><i>(go bankrupt, fail, bust, go, go into liquidation, smash)</i>
</div>\n<div style=\"margin-left:2em\"><b>звучать </b><i>(sound, ring, resound, speak, go, vibrate)</i></div>\n<div
    style=\"margin-left:2em\"><b>пролегать </b><i>(run, lie, go)</i></div>\n<div style=\"margin-left:2em\"><b>гибнуть
    </b><i>(perish, go under, go, fall, rot away, totter)</i></div>\n<div style=\"margin-left:2em\"><b>разъезжать
    </b><i>(drive, drive about, go, drive around, travel about)</i></div>\n<div style=\"margin-left:2em\"><b>бить
    </b><i>(beat, hit, strike, smash, pound, go)</i></div>\n<div style=\"margin-left:2em\"><b>доходить до </b><i>(come
        to, go, amount, total)</i></div>\n<div style=\"margin-left:2em\"><b>тратиться </b><i>(go, go to expense)</i>
</div>\n<div style=\"margin-left:2em\"><b>стартовать </b><i>(start, go, get off the mark)</i></div>\n<div
    style=\"margin-left:2em\"><b>рухнуть </b><i>(collapse, crumple, go, ruin, wreck)</i></div>\n<div
    style=\"margin-left:2em\"><b>свалиться </b><i>(collapse, thud, go, tumble, flop, crumple)</i></div>\n<div
    style=\"margin-left:2em\"><b>укладываться </b><i>(pack, settle, go)</i></div>\n<div style=\"margin-left:2em\">
    <b>ломаться </b><i>(break, break down, fracture, crack, snap, go)</i>
</div>\n<div style=\"margin-left:2em\">
    <b>теряться </b><i>(get lost, be lost, disappear, lose oneself, go)</i>
</div>\n<div style=\"margin-left:2em\">
    <b>регулярно посещать </b><i>(go)</i>
</div>\n<div style=\"margin-left:2em\"><b>иметь хождение </b><i>(be in use, go,
        pass, go about)</i></div>\n<div style=\"margin-left:2em\"><b>умещаться </b><i>(find room, fit in, go, go in)</i>
</div>\n<div style=\"margin-left:2em\"><b>подаваться </b><i>(give, go, let go)</i></div>\n<div
    style=\"margin-left:2em\"><b>класть на определенное место </b><i>(go)</i></div>\n<div style=\"margin-left:2em\">
    <b>быть принятым </b><i>(go, pass, go through)</i>
</div>\n<div style=\"margin-left:2em\"><b>отбивать
    </b><i>(repulse, beat, beat back, beat off, chime, go)</i></div>\n<div style=\"margin-left:2em\"><b>быть в движении
    </b><i>(be on the move, go, be on the go, work)</i></div>\n<div style=\"margin-left:2em\"><b>быть в обращении
    </b><i>(go, pass, circulate)</i></div>\n<div style=\"margin-left:2em\"><b>отменяться </b><i>(go)</i></div>\n<div
    style=\"margin-left:2em\"><b>уничтожаться </b><i>(go)</i></div>\n<div style=\"margin-left:2em\"><b>рассеиваться
    </b><i>(scatter, dissipate, disperse, lift, break, go)</i></div>\n<div style=\"margin-left:2em\"><b>переходить в
        собственность </b><i>(go)</i></div>\n<div style=\"margin-left:2em\"><b>гласить </b><i>(read, say, state, run,
        go)</i></div>\n<div style=\"margin-left:2em\"><b>регулярно ходить </b><i>(go)</i></div>\n<div
    style=\"margin-left:2em\"><b>терпеть крах </b><i>(crash, collapse, fall, go)</i></div>\n<div
    style=\"margin-left:2em\"><b>звонить </b><i>(ring, chime, ring up, ring at, sound, go)</i></div>\n<div
    style=\"margin-left:2em\"><b>получать признание </b><i>(go)</i></div>\n<div style=\"margin-left:2em\"><b>быть
        присужденным </b><i>(go)</i></div>\n<div style=\"margin-left:2em\"><b>быть в действии </b><i>(go)</i></div>\n
<div style=\"margin-left:2em\"><b>руководствоваться </b><i>(go by, go)</i></div>\n<div style=\"margin-left:2em\"><b>быть
        отданным </b><i>(go)</i></div>\n<div style=\"margin-left:2em\"><b>ставить на определенное место </b><i>(go,
        station)</i></div>\n<div style=\"margin-left:2em\"><b>быть под стать </b><i>(go)</i></div>\n<div
    style=\"margin-left:2em\"><b>постоянно храниться </b><i>(go)</i></div>\n<div style=\"margin-left:2em\">
    <b>приводиться в движение </b><i>(operate, go)</i>
</div>\n<div style=\"margin-left:2em\"><b>расходиться
    </b><i>(diverge, disperse, separate, break, break up, go)</i></div>\n<div style=\"margin-left:2em\"><b>переходить из
        уст в уста </b><i>(go)</i></div>\n<div style=\"margin-left:2em\"><b>расходоваться </b><i>(go)</i></div>\n<div
    style=\"margin-left:2em\"><b>продаваться </b><i>(sell, sell out, move, be for sale, be on sale, go)</i></div>\n<div
    style=\"margin-left:2em\"><b>доставаться </b><i>(accrue, fall, come, go)</i></div>\n<div style=\"margin-left:2em\">
    <b>делать какое-л. движение </b><i>(go)</i>
</div>\n<div style=\"margin-left:1em\">
    <font color=\"green\">имя существительное:</font>
</div>\n<div style=\"margin-left:2em\"><b>ход </b><i>(progress, stroke, running, travel, process, go)</i></div>\n<div
    style=\"margin-left:2em\"><b>движение </b><i>(movement, motion, traffic, move, go, stir)</i></div>\n<div
    style=\"margin-left:2em\"><b>попытка </b><i>(attempt, try, effort, endeavor, shot, go)</i></div>\n<div
    style=\"margin-left:2em\"><b>ходьба </b><i>(walking, walk, going, pedestrianism, go, perambulation)</i></div>\n<div
    style=\"margin-left:2em\"><b>воодушевление </b><i>(inspiration, spirit, animation, lift, fire, go)</i></div>\n<div
    style=\"margin-left:2em\"><b>глоток </b><i>(sip, drink, gulp, mouthful, swallow, go)</i></div>\n<div
    style=\"margin-left:2em\"><b>успех </b><i>(success, luck, hit, achievement, advance, go)</i></div>\n<div
    style=\"margin-left:2em\"><b>приступ </b><i>(attack, fit, assault, bout, seizure, go)</i></div>\n<div
    style=\"margin-left:2em\"><b>сделка </b><i>(deal, transaction, bargain, trade, business, go)</i></div>\n<div
    style=\"margin-left:2em\"><b>неожиданный поворот дел </b><i>(go)</i></div>\n<div style=\"margin-left:2em\"><b>рвение
    </b><i>(zeal, eagerness, fervor, ardor, fervency, go)</i></div>\n<div style=\"margin-left:2em\"><b>порция
    </b><i>(portion, serving, dose, helping, ration, go)</i></div>\n<div style=\"margin-left:2em\"><b>обострение
    </b><i>(exacerbation, escalation, exasperation, go)</i></div>\n<div style=\"margin-left:2em\"><b>положение
    </b><i>(position, location, situation, provision, state, go)</i></div>\n<div style=\"margin-left:2em\">
    <b>обстоятельство </b><i>(circumstance, fact, thing, case, development, go)</i>
</div>\n<div style=\"margin-left:2em\"><b>энергия </b><i>(energy, power, vigor, vitality, intensity, go)</i></div>\n<div
    style=\"margin-left:2em\"><b>успешное предприятие </b><i>(go)</i></div>",