{{template "header"}}
<style>
    table {
        margin-left: auto;
        margin-right: auto;
        border-collapse: separate;
        border-spacing: 20px 0;
    }

    th,
    td {
        padding: 5px;
        text-align: center;
    }

    tr:hover {
        background-color: #f5f5f5;
    }
</style>
<main>
    <h1></h1>
    <table>
        <thead>
            <tr>

                <th>Норвежское слово</th>
                <th>Транскрипция</th>
                <th>Русское слово</th>
                <th>Рейтинг</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td contenteditable="true" id="newNorg"></td>
                <td contenteditable="true" id="newTranscription"></td>
                <td contenteditable="true" id="newRus"></td>
                <td contenteditable="true" id="newTrue">0</td>

                <td>
                    <button type="button" onclick="handleAddClick()">Добавить</button>
                </td>
            </tr>
            {{range $index, $element := .}}
            <tr>

                <td contenteditable="true" id="Norg{{$index}}">{{$element.Norg}}</td>
                <td contenteditable="true" id="Transcription{{$index}}">{{$element.Transcription}}</td>
                <td contenteditable="true" id="Rus{{$index}}">{{$element.Rus}}</td>
                <td contenteditable="true" id="True{{$index}}">{{$element.True}}</td>
                <td>
                    <button type="button" onclick="handleSaveClick({{$index}})"
                        id="saveButton{{$index}}">Сохранить</button>
                    <button type="button" onclick="handleDeleteClick({{$index}})">Удалить</button>
                </td>
            </tr>
            {{end}}

        </tbody>
    </table>
</main>
{{template "footer"}}

<script>

    async function handleDeleteClick(index) {
        try {
            const response = await fetch('/handleIndex', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ index })
            });

            if (response.ok) {
                location.reload();
            } else {
                console.error('Ошибка при отправке запроса:', response.statusText);
            }
        } catch (error) {
            console.error('Ошибка при отправке запроса:', error);
        }
    }

    function handleSaveClick(index) {
        const Norg = document.getElementById("Norg" + index).innerText;
        const Transcription = document.getElementById("Transcription" + index).innerText;
        const Rus = document.getElementById("Rus" + index).innerText;
        const True = parseInt(document.getElementById("True" + index).innerText, 10);

        if (isNaN(True)) {
            alert("Рейтинг должен быть числом");
            return;
        }

        const requestData = {
            index,
            Norg,
            Transcription,
            Rus,
            True,
        };

        fetch("/handleEdit", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify
                (requestData),
        })
            .then((response) => {
                if (response.ok) {
                    location.reload();
                } else {
                    console.error("Ошибка при отправке запроса:", response.statusText);
                }
            })
            .catch((error) => {
                console.error("Ошибка при отправке запроса:", error);
            });
    }
    function handleAddClick() {
        const Norg = document.getElementById("newNorg").innerText;
        const Transcription = document.getElementById("newTranscription").innerText;
        const Rus = document.getElementById("newRus").innerText;
        const True = parseInt(document.getElementById("newTrue").innerText, 10);

        if (isNaN(True)) {
            alert("Рейтинг должен быть числом");
            return;
        }

        const requestData = {
            Norg,
            Transcription,
            Rus,
            True,
        };

        fetch("/handleAdd", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(requestData),
        })
            .then((response) => {
                if (response.ok) {
                    location.reload();
                } else {
                    console.error("Ошибка при отправке запроса:", response.statusText);
                }
            })
            .catch((error) => {
                console.error("Ошибка при отправке запроса:", error);
            });
    }
</script>