{{template "header"}}
<style>
    table {
        margin-left: auto;
        margin-right: auto;
        border-collapse: separate;
        border-spacing: 3px 0;
        font-family: Arial, sans-serif;
        font-size: 14px;
        color: #333;
        width: 80%;
    }

    th,
    td {
        padding: 7px 5px;
        text-align: center;
        border: 1px solid #ddd;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    thead {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    tbody tr:nth-child(odd) {
        background-color: #ffffff;
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 1px 6px;
        margin: 6 6px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 12px;
    }

    button:hover {
        background-color: #45a049;
    }
</style>
<main>
    <h1></h1>
    <h3>Elements: {{len .}}</h3>
    <table>
        <thead>
            <tr>
                <th>Action</th>
                <th>Original</th>
                <th>Transcription</th>

                <th>Past Simple Singular</th>
                <th>Transcription</th>

                <th>Past Simple Plural</th>
                <th>Transcription</th>

                <th>Past Participle Singular</th>
                <th>Transcription</th>

                <th>Past Participle Plural</th>
                <th>Transcription</th>


                <th>Translation</th>
                <th>Synonyms</th>
                <th>Part Of Speech</th>
                <th>Rating</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <button type="button" onclick="handleAddClick()">Add</button>
                </td>
                <td contenteditable="true" id="newWordOriginal"></td>
                <td contenteditable="true" id="newWordOriginalTranscription"></td>


                <td contenteditable="true" id="WordOriginalPastSimpleSingular"></td>
                <td contenteditable="true" id="WordOriginalPastSimpleSingularTranscription"></td>

                <td contenteditable="true" id="WordOriginalPastSimplePlural"></td>
                <td contenteditable="true" id="WordOriginalPastSimplePluralTranscription"></td>

                <td contenteditable="true" id="WordOriginalPastParticipleSingular"></td>
                <td contenteditable="true" id="WordOriginalPastParticipleSingularTranscription"></td>

                <td contenteditable="true" id="WordOriginalPastParticiplePlural"></td>
                <td contenteditable="true" id="WordOriginalPastParticiplePluralTranscription"></td>


                <td contenteditable="true" id="newWordTranslated"></td>
                <td contenteditable="true" id="newWordOriginalSynonyms"></td>
                <td contenteditable="true" id="newWordOriginalPartOfSpeech"></td>
                <td contenteditable="true" id="newRating">0</td>
            </tr>
            {{range $index, $element := .}}
            <tr>
                <td>
                    <button type="button" onclick="handleSaveClick({{$index}})" id="saveButton{{$index}}">Save</button>
                    <button type="button" onclick="handleDeleteClick({{$index}})">Delete</button>
                </td>
                <td contenteditable="true" id="WordOriginal{{$index}}">{{$element.WordOriginal}}</td>
                <td contenteditable="true" id="WordOriginalTranscription{{$index}}">
                    {{$element.WordOriginalTranscription}}</td>

                <td contenteditable="true" id="WordOriginalPastSimpleSingular{{$index}}">
                    {{$element.WordOriginalPastSimpleSingular}}</td>
                <td contenteditable="true" id="WordOriginalPastSimpleSingularTranscription{{$index}}">
                    {{$element.WordOriginalPastSimpleSingularTranscription}}</td>

                <td contenteditable="true" id="WordOriginalPastSimplePlural{{$index}}">
                    {{$element.WordOriginalPastSimplePlural}}</td>
                <td contenteditable="true" id="WordOriginalPastSimplePluralTranscription{{$index}}">
                    {{$element.WordOriginalPastSimplePluralTranscription}}</td>

                <td contenteditable="true" id="WordOriginalPastParticipleSingular{{$index}}">
                    {{$element.WordOriginalPastParticipleSingular}}</td>
                <td contenteditable="true" id="WordOriginalPastParticipleSingularTranscription{{$index}}">
                    {{$element.WordOriginalPastParticipleSingularTranscription}}</td>

                <td contenteditable="true" id="WordOriginalPastParticiplePlural{{$index}}">
                    {{$element.WordOriginalPastParticiplePlural}}</td>
                <td contenteditable="true" id="WordOriginalPastParticiplePluralTranscription{{$index}}">
                    {{$element.WordOriginalPastParticiplePluralTranscription}}</td>


                <td contenteditable="true" id="WordTranslated{{$index}}">{{$element.WordTranslated}}</td>
                <td contenteditable="true" id="WordOriginalSynonyms{{$index}}">{{$element.WordOriginalSynonyms}}</td>
                <td contenteditable="true" id="WordOriginalPartOfSpeech{{$index}}">{{$element.WordOriginalPartOfSpeech}}
                </td>
                <td contenteditable="true" id="Rating{{$index}}">{{$element.Rating}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</main>
{{template "footer"}}

<script>

    async function handleDeleteClick(index) {
        try {
            const response = await fetch('/handleIndex', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ index })
            });

            if (response.ok) {
                location.reload();
            } else {
                console.error('Ошибка при отправке запроса:', response.statusText);
            }
        } catch (error) {
            console.error('Ошибка при отправке запроса:', error);
        }
    }

    function handleSaveClick(index) {
        const WordOriginal = document.getElementById("WordOriginal" + index).innerText;

        const WordOriginalPastSimpleSingular = document.getElementById("WordOriginalPastSimpleSingular" + index).innerText;
        const WordOriginalPastSimpleSingularTranscription = document.getElementById("WordOriginalPastSimpleSingularTranscription" + index).innerText;

        const WordOriginalPastSimplePlural = document.getElementById("WordOriginalPastSimplePlural" + index).innerText;
        const WordOriginalPastSimplePluralTranscription = document.getElementById("WordOriginalPastSimplePluralTranscription" + index).innerText;

        const WordOriginalPastParticipleSingular = document.getElementById("WordOriginalPastParticipleSingular" + index).innerText;
        const WordOriginalPastParticipleSingularTranscription = document.getElementById("WordOriginalPastParticipleSingularTranscription" + index).innerText;

        const WordOriginalPastParticiplePlural = document.getElementById("WordOriginalPastParticiplePlural" + index).innerText;
        const WordOriginalPastParticiplePluralTranscription = document.getElementById("WordOriginalPastParticiplePluralTranscription" + index).innerText;

        const WordOriginalTranscription = document.getElementById("WordOriginalTranscription" + index).innerText;
        const WordTranslated = document.getElementById("WordTranslated" + index).innerText;
        const WordOriginalSynonyms = document.getElementById("WordOriginalSynonyms" + index).innerText;
        const WordOriginalPartOfSpeech = document.getElementById("WordOriginalPartOfSpeech" + index).innerText;
        const Rating = parseInt(document.getElementById("Rating" + index).innerText, 10);

        if (isNaN(Rating)) {
            alert("Рейтинг должен быть числом");
            return;
        }

        const requestData = {
            index,
            WordOriginal,

            WordOriginalPastSimpleSingular,
            WordOriginalPastSimplePlural,
            WordOriginalPastParticipleSingular,
            WordOriginalPastParticiplePlural,

            WordOriginalPastSimpleSingularTranscription,
            WordOriginalPastSimplePluralTranscription,
            WordOriginalPastParticipleSingularTranscription,
            WordOriginalPastParticiplePluralTranscription,

            WordOriginalTranscription,
            WordTranslated,
            WordOriginalSynonyms,
            WordOriginalPartOfSpeech,
            Rating,
        };

        fetch("/handleEdit", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify
                (requestData),
        })
            .then((response) => {
                if (response.ok) {
                    location.reload();
                } else {
                    console.error("Ошибка при отправке запроса:", response.statusText);
                }
            })
            .catch((error) => {
                console.error("Ошибка при отправке запроса:", error);
            });
    }
    function handleAddClick() {
        const WordOriginal = document.getElementById("newWordOriginal").innerText;

        const WordOriginalPastSimpleSingular = document.getElementById("WordOriginalPastSimpleSingular").innerText;
        const WordOriginalPastSimpleSingularTranscription = document.getElementById("WordOriginalPastSimpleSingularTranscription").innerText;

        const WordOriginalPastSimplePlural = document.getElementById("WordOriginalPastSimplePlural").innerText;
        const WordOriginalPastSimplePluralTranscription = document.getElementById("WordOriginalPastSimplePluralTranscription").innerText;

        const WordOriginalPastParticipleSingular = document.getElementById("WordOriginalPastParticipleSingular").innerText;
        const WordOriginalPastParticipleSingularTranscription = document.getElementById("WordOriginalPastParticipleSingularTranscription").innerText;

        const WordOriginalPastParticiplePlural = document.getElementById("WordOriginalPastParticiplePlural").innerText;
        const WordOriginalPastParticiplePluralTranscription = document.getElementById("WordOriginalPastParticiplePluralTranscription").innerText;

        const WordOriginalTranscription = document.getElementById("newWordOriginalTranscription").innerText;
        const WordTranslated = document.getElementById("newWordTranslated").innerText;
        const Rating = parseInt(document.getElementById("newRating").innerText, 10);

        if (isNaN(Rating)) {
            alert("Рейтинг должен быть числом");
            return;
        }

        const requestData = {
            WordOriginal,

            WordOriginalPastSimpleSingular,
            WordOriginalPastSimplePlural,
            WordOriginalPastParticipleSingular,
            WordOriginalPastParticiplePlural,

            WordOriginalPastSimpleSingularTranscription,
            WordOriginalPastSimplePluralTranscription,
            WordOriginalPastParticipleSingularTranscription,
            WordOriginalPastParticiplePluralTranscription,

            WordOriginalWordOriginalTranscription,
            WordTranslated,
            Rating,
        };

        fetch("/handleAdd", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(requestData),
        })
            .then((response) => {
                if (response.ok) {
                    location.reload();
                } else {
                    console.error("Ошибка при отправке запроса:", response.statusText);
                }
            })
            .catch((error) => {
                console.error("Ошибка при отправке запроса:", error);
            });
    }
</script>