{{template "header"}}
<style>
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .center-text {
        text-align: center;
    }

    .error-notification {
        display: inline-block;
        padding: 10px;
        background-color: #61f566;
        color: #000000;
        border: 1px solid #61f566;
        border-radius: 4px;
        margin-bottom: 10px;
    }
</style>
<main>
    <h2 class="center-text"></h2>
    <h1 class="center-text error-notification">Right</h1>
    <h3 class="rus-text">{{.Rus}}</h3>
    <h3 class="rus-text" id="norge-text">{{.Norg}}</h3>
    <h3 class="rus-text">{{.Transcription}}</h3>
    <button id="speak-button" class="btn btn-info">Воспроизвести</button>
    <form action="/word" method="POST">


        <button class="btn btn-warning" autofocus>next</button>
    </form>
</main>
{{template "footer"}}

<script>
    function speak(text) {
        const utterance = new SpeechSynthesisUtterance(text);
        window.speechSynthesis.speak(utterance);
    }

    window.addEventListener("DOMContentLoaded", () => {
        const norgeTextElement = document.getElementById("norge-text");
        const speakButton = document.getElementById("speak-button");
        if (norgeTextElement && speakButton) {
            const norgeText = norgeTextElement.textContent;

            // Воспроизвести текст автоматически при загрузке страницы
            speak(norgeText);

            // Воспроизвести текст при нажатии на кнопку
            speakButton.addEventListener("click", () => {
                speak(norgeText);
            });
        }
    });
</script>