{{template "header"}}
<style>
    table {
        margin-left: auto;
        margin-right: auto;
        border-collapse: separate;
        border-spacing: 3px 0;
        font-family: Arial, sans-serif;
        font-size: 14px;
        color: #333;
        width: 80%;
    }

    th,
    td {
        padding: 7px 5px;
        text-align: center;
        border: 1px solid #ddd;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    thead {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    tbody tr:nth-child(odd) {
        background-color: #ffffff;
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 1px 6px;
        margin: 6 6px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 12px;
    }

    button:hover {
        background-color: #45a049;
    }
</style>
<main>
    <h1></h1>
    <h3>Elements: {{len .}}</h3>
    <table>
        <thead>
            <tr>
                <th>Action</th>
                <th>English</th>
                <th>Transcription</th>
                <th>Translation</th>
                <th>Synonyms</th>
                <th>PartOfSpeech</th>
                <th>Rating</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <button type="button" onclick="handleAddClick()">Add</button>
                </td>
                <td contenteditable="true" id="newEnglish"></td>
                <td contenteditable="true" id="newTranscription"></td>
                <td contenteditable="true" id="newRussian"></td>
                <td contenteditable="true" id="newSynonyms"></td>
                <td contenteditable="true" id="newPartOfSpeech"></td>
                <td contenteditable="true" id="newRating">0</td>
            </tr>
            {{range $index, $element := .}}
            <tr>
                <td>
                    <button type="button" onclick="handleSaveClick({{$index}})" id="saveButton{{$index}}">Save</button>
                    <button type="button" onclick="handleDeleteClick({{$index}})">Delete</button>
                </td>
                <td contenteditable="true" id="English{{$index}}">{{$element.English}}</td>
                <td contenteditable="true" id="Transcription{{$index}}">{{$element.Transcription}}</td>
                <td contenteditable="true" id="Russian{{$index}}">{{$element.Russian}}</td>
                <td contenteditable="true" id="Synonyms{{$index}}">{{$element.Synonyms}}</td>
                <td contenteditable="true" id="PartOfSpeech{{$index}}">{{$element.PartOfSpeech}}</td>
                <td contenteditable="true" id="Rating{{$index}}">{{$element.Rating}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</main>
{{template "footer"}}

<script>

    async function handleDeleteClick(index) {
        try {
            const response = await fetch('/handleIndex', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ index })
            });

            if (response.ok) {
                location.reload();
            } else {
                console.error('Ошибка при отправке запроса:', response.statusText);
            }
        } catch (error) {
            console.error('Ошибка при отправке запроса:', error);
        }
    }

    function handleSaveClick(index) {
        const English = document.getElementById("English" + index).innerText;
        const Transcription = document.getElementById("Transcription" + index).innerText;
        const Russian = document.getElementById("Russian" + index).innerText;
        const Synonyms = document.getElementById("Synonyms" + index).innerText;
        const PartOfSpeech = document.getElementById("PartOfSpeech" + index).innerText;
        const Rating = parseInt(document.getElementById("Rating" + index).innerText, 10);

        if (isNaN(Rating)) {
            alert("Рейтинг должен быть числом");
            return;
        }

        const requestData = {
            index,
            English,
            Transcription,
            Russian,
            Synonyms,
            PartOfSpeech,
            Rating,
        };

        fetch("/handleEdit", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify
                (requestData),
        })
            .then((response) => {
                if (response.ok) {
                    location.reload();
                } else {
                    console.error("Ошибка при отправке запроса:", response.statusText);
                }
            })
            .catch((error) => {
                console.error("Ошибка при отправке запроса:", error);
            });
    }
    function handleAddClick() {
        const English = document.getElementById("newEnglish").innerText;
        const Transcription = document.getElementById("newTranscription").innerText;
        const Russian = document.getElementById("newRussian").innerText;
        const Rating = parseInt(document.getElementById("newRating").innerText, 10);

        if (isNaN(Rating)) {
            alert("Рейтинг должен быть числом");
            return;
        }

        const requestData = {
            English,
            Transcription,
            Russian,
            Rating,
        };

        fetch("/handleAdd", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(requestData),
        })
            .then((response) => {
                if (response.ok) {
                    location.reload();
                } else {
                    console.error("Ошибка при отправке запроса:", response.statusText);
                }
            })
            .catch((error) => {
                console.error("Ошибка при отправке запроса:", error);
            });
    }
</script>