{{template "header"}}
<style>
    main {
        width: 100%;
        max-width: 800px;
        /* Ограничивает максимальную ширину контента */
        margin: 0 auto;
        /* Центрирует содержимое по горизонтали */
        padding: 20px;
        /* Добавляет отступы вокруг содержимого */
        box-sizing: border-box;
        font-family: 'Arial', sans-serif;
        /* Устанавливает шрифт для всех элементов внутри <main> */
    }

    h2 {
        font-size: 28px;
        /* Устанавливает размер шрифта для заголовка h2 */
        font-weight: bold;
        /* Делает шрифт заголовка жирным */
        margin-bottom: 20px;
        /* Добавляет отступ снизу, чтобы отделить заголовок от формы */
    }

    .form-container {
        width: 100%;
        box-sizing: border-box;
    }

    .form-control {
        width: 100%;
        padding: 5px 10px;
        /* Добавляет отступы внутри полей ввода */
        margin-bottom: 10px;
        /* Добавляет отступы снизу, чтобы отделить поля ввода друг от друга */
        display: block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 20px;
        /* Устанавливает размер шрифта для полей ввода */
        border-radius: 4px;
        /* Закругляет углы полей ввода */
    }

    .form-control:focus {
        border-color: #007bff;
        /* Изменяет цвет границы при фокусе на поле ввода */
        outline: none;
        /* Удаляет стандартную рамку фокуса */
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        /* Добавляет тень вокруг поля ввода при фокусе */
    }

    .btn {
        width: 100%;
        padding: 10px;
        /* Добавляет отступы внутри кнопки */
        border: 1px solid #ccc;
        box-sizing: border-box;
        text-align: center;
        font-size: 18px;
        /* Устанавливает размер шрифта для кнопки */
        background-color: #ffc107;
        /* Устанавливает фоновый цвет кнопки */
        color: #000;
        /* Устанавливает цвет текста кнопки */
        border-radius: 4px;
        /* Закругляет углы кнопки */
        cursor: pointer;
        /* Изменяет курсор на указатель при наведении на кнопку */
        transition: background-color 0.3s;
        /* Устанавливает анимацию перехода для фонового цвета кнопки */
    }

    .btn:hover {
        background-color: #e0a800;
        /* Изменяет фоновый цвет кнопки при наведении */
    }
</style>
<main>
    <h2></h2>
    <form action="/wordAdd" method="POST" class="form-container">
        <input type="text" name="WordOriginal" id="WordOriginal" placeholder="Original" class="form-control"
            autofocus><br>
        <div id="resultsContainer"></div>
        <input type="text" name="WordTranslated" id="WordTranslated" placeholder="Translated" class="form-control"><br>
        <input type="text" name="WordOriginalTranscription" id="WordOriginalTranscription" placeholder="Transcription"
            class="form-control"><br>
        <input type="text" name="WordOriginalPartOfSpeech" id="WordOriginalPartOfSpeech" placeholder="Part Of Speech"
            class="form-control"><br>
        <input type="text" name="WordOriginalSynonyms" id="WordOriginalSynonyms" placeholder="Synonyms"
            class="form-control"><br>

        <input type="text" name="WordOriginalPastSimpleSingular" id="WordOriginalPastSimpleSingular"
            placeholder="Past Simple Singular" class="form-control"><br>
        <input type="text" name="WordOriginalPastSimpleSingularTranscription"
            id="WordOriginalPastSimpleSingularTranscription" placeholder="Transcription" class="form-control"><br>
        <input type="text" name="WordOriginalPastSimplePlural" id="WordOriginalPastSimplePlural"
            placeholder="Past Simple Plural" class="form-control"><br>
        <input type="text" name="WordOriginalPastSimplePluralTranscription"
            id="WordOriginalPastSimplePluralTranscription" placeholder="Transcription" class="form-control"><br>
        <input type="text" name="WordOriginalPastParticipleSingular" id="WordOriginalPastParticipleSingular"
            placeholder="Past Participle Singular" class="form-control"><br>
        <input type="text" name="WordOriginalPastParticipleSingularTranscription"
            id="WordOriginalPastParticipleSingularTranscription" placeholder="Transcription" class="form-control"><br>
        <input type="text" name="WordOriginalPastParticiplePlural" id="WordOriginalPastParticiplePlural"
            placeholder="Past Participle Plural" class="form-control"><br>
        <input type="text" name="WordOriginalPastParticiplePluralTranscription"
            id="WordOriginalPastParticiplePluralTranscription" placeholder="Transcription" class="form-control"><br>

        <button class="btn btn-warning" autofocus>Save</button>

    </form>
</main>
{{template "footer"}}

<script>
    const searchInput = document.getElementById('WordOriginal');
    const words = [];  // предполагается, что вы передаете данные слов с сервера как объект JavaScript
    let selectedIndex = -1;

    searchInput.addEventListener('input', async event => {
        const query = event.target.value;
        const results = await searchWords(query);
        updateResultsDropdown(results);
        selectedIndex = -1;
    });


    searchInput.addEventListener('keydown', event => {
        const resultsContainer = document.getElementById('resultsContainer');
        const items = resultsContainer.getElementsByTagName('li');

        if (event.key === 'ArrowDown') {
            selectedIndex = Math.min(selectedIndex + 1, items.length - 1);
        } else if (event.key === 'ArrowUp') {
            selectedIndex = Math.max(selectedIndex - 1, -1);
        } else if (event.key === 'Enter') {
            if (selectedIndex > -1) {
                selectResult(JSON.parse(items[selectedIndex].dataset.word));
            }
            event.preventDefault();
            return;
        } else {
            return;
        }

        Array.from(items).forEach((item, index) => {
            if (index === selectedIndex) {
                item.classList.add('selected');
            } else {
                item.classList.remove('selected');
            }
        });
    });

    async function searchWords(query) {
        if (query.length === 0) {
            return [];
        }

        const response = await fetch('/api/search?q=' + encodeURIComponent(query));
        const results = await response.json();

        return results.sort((a, b) => a.WordOriginal.localeCompare(b.WordOriginal));
    }




    function updateResultsDropdown(results) {
        const resultsContainer = document.getElementById('resultsContainer');
        resultsContainer.innerHTML = '';

        // Если строка поиска пуста, не выводим выпадающий список
        if (results.length === 0) {
            return;
        }

        const list = document.createElement('ul');

        // Ограничиваем количество результатов до 30
        const limitedResults = results.slice(0, 30);

        limitedResults.forEach(result => {
            const listItem = document.createElement('li');
            listItem.textContent = result.WordOriginal;
            listItem.dataset.word = JSON.stringify(result); // Добавить эту строку
            listItem.addEventListener('click', () => {
                selectResult(result);
            });
            list.appendChild(listItem);
        });

        resultsContainer.appendChild(list);
    }





    function selectResult(result) {
        document.getElementById('WordOriginal').value = result.WordOriginal;
        document.getElementById('WordTranslated').value = result.WordTranslated;
        document.getElementById('WordOriginalTranscription').value = result.WordOriginalTranscription;
        document.getElementById('WordOriginalPartOfSpeech').value = result.WordOriginalPartOfSpeech;
        document.getElementById('WordOriginalSynonyms').value = result.WordOriginalSynonyms;
        document.getElementById('WordOriginalPastSimpleSingular').value = result.WordOriginalPastSimpleSingular;
        document.getElementById('WordOriginalPastSimpleSingularTranscription').value = result.WordOriginalPastSimpleSingularTranscription;
        document.getElementById('WordOriginalPastSimplePlural').value = result.WordOriginalPastSimplePlural;
        document.getElementById('WordOriginalPastSimplePluralTranscription').value = result.WordOriginalPastSimplePluralTranscription;
        document.getElementById('WordOriginalPastParticipleSingular').value = result.WordOriginalPastParticipleSingular;
        document.getElementById('WordOriginalPastParticipleSingularTranscription').value = result.WordOriginalPastParticipleSingularTranscription;
        document.getElementById('WordOriginalPastParticiplePlural').value = result.WordOriginalPastParticiplePlural;
        document.getElementById('WordOriginalPastParticiplePluralTranscription').value = result.WordOriginalPastParticiplePluralTranscription;

        // Закройте выпадающий список после выбора результата
        document.getElementById('resultsContainer').innerHTML = '';
        // add_button.enabled = true; // сделать кнопку "Добавить" активной
    }
</script>