{{template "header"}}
<style>
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
<main>
    <h2></h2>
    <form action="/wordAdd" method="POST" class="form-container">
        <input type="text" name="Norg" id="Norg" placeholder="Eng" class="form-control" autofocus><br>
       
        <input type="text" name="Rus" id="Rus" placeholder="Rus" class="form-control"><br>
        <input type="text" name="Transcription" id="Transcription" placeholder="Transcription" class="form-control"><br>
        <button class="btn btn-warning">Добавить</button>
    </form>
</main>
{{template "footer"}}
